<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package MembershipId="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package MembershipId="bootstrap" version="3.0.0" targetFramework="net452" />
  <package MembershipId="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package MembershipId="jQuery" version="1.10.2" targetFramework="net452" />
  <package MembershipId="jQuery.ValMembershipIdation" version="1.11.1" targetFramework="net452" />
  <package MembershipId="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net452" />
  <package MembershipId="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net452" />
  <package MembershipId="Microsoft.ApplicationInsights.DependencyCollector" version="2.1.0" targetFramework="net452" />
  <package MembershipId="Microsoft.ApplicationInsights.JavaScript" version="0.22.19-build00125" targetFramework="net452" />
  <package MembershipId="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.1.0" targetFramework="net452" />
  <package MembershipId="Microsoft.ApplicationInsights.Web" version="2.1.0" targetFramework="net452" />
  <package MembershipId="Microsoft.ApplicationInsights.WindowsServer" version="2.1.0" targetFramework="net452" />
  <package MembershipId="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.1.0" targetFramework="net452" />
  <package MembershipId="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package MembershipId="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package MembershipId="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package MembershipId="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package MembershipId="Microsoft.CodeDom.ProvMembershipIders.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package MembershipId="Microsoft.jQuery.Unobtrusive.ValMembershipIdation" version="3.2.3" targetFramework="net452" />
  <package MembershipId="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package MembershipId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package MembershipId="Modernizr" version="2.6.2" targetFramework="net452" />
  <package MembershipId="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package MembershipId="Respond" version="1.2.0" targetFramework="net452" />
  <package MembershipId="WebGrease" version="1.5.2" targetFramework="net452" />
</packages>
