@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*Quick About page explanantion*@

<p>We have developed a simple table for keeping track of your wins, losses, and ties for various games people play.  We are currently only set up to maintain the statistical information for one game.  In the near future, we are planning to unfold an option to type in the game you played, so that every user may keep track of their results with several games.</p>
<p>Feel free to reach out to us with any suggestions or criticism.  We simply want to be the best database for every user who wishes to keep track of that information.  We also plan to eventually have charts and graphs along with other statistical data to be calculated for you (e.g. percentage of win/loss).  </p>