@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

 @*Updated address*@

<address>
    Brian Atchley<br />
    444 Example Road<br />
    Louisville, Ky 40215<br />
   
</address>

@*Added glyphicons and made information clickable*@ 

<address>
    <strong><span class="glyphicon glyphicon-envelope"> </span>    Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong><span class="glyphicon glyphicon-envelope"> </span>    Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <abbr title="Phone"></abbr><span class="glyphicon glyphicon-phone-alt"> </span><strong>    Phone </strong><a href="tel:+1-800-555-5555">Call 1-800-555-5555</a>  
</address>