@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Keeping Stats</h1>
</div>

<div class="row">
    @*Updated the column sizes to create a small side bar column*@
    <div class="col-md-2">
        @*Created an informative side panel for new users*@
        <h2>Getting started!</h2>
        <p>
            To get started, simply go to the "Participant" page located in the navigation bar.  Create your account by clicking the "create new" button located at the top.  Fill out each field with the correct information and you are ready to go!  Later, just simply edit to change your statistical information.
        </p>
    </div>
    <div class="col-md-10">
        @*Explanations for the site meeting Code Louisville requirements and where I plan to go with it in the future*@
        <h2>Current Options</h2>
        <p>Right now our focus has been on a solid working foundation.  Our options are limited as this is a brand new site.  We have the bare essentials for any user to hop on the site and create a database for themselves to keep win/loss statistical data for a particular game/activity.</p>

        <h2>Whats in store for yours and our future on this site!</h2>
        <p>The future of this site is quite exciting!!!  We plan to have a charts, graphs, percentages, you name it.  
        The ultimate idea of this site and where we would like to be fast, is for each user to be able to login to his/her own page.  
        Upon doing so, they will be presented with a table in front of them listing each game/activity they have put into the database.  
        Along side it, they will be presented with a summary of various statistical information about each game such as total wins 
        and losses, and a percentage of each.  The user can then click on each game/activity to get more specific information 
        (should they choose to enter it all) such as their total points scored. </p>
    </div>
</div>